$mdc-theme-primary: #3F51B5;
$mdc-theme-accent: #FF5722;
$mdc-theme-background: #263238;

@import '~normalize.css/normalize';

@import '~@material/theme/mdc-theme';
@import '~@material/typography/mdc-typography';
@import '~@material/toolbar/mdc-toolbar';
@import '~@material/layout-grid/mdc-layout-grid';
@import '~@material/tabs/mdc-tabs';
@import '~@material/button/mdc-button';
@import "~@material/card/mdc-card";
@import "~@material/list/mdc-list";
@import "~@material/elevation/mdc-elevation";
@import "~@material/ripple/mdc-ripple";
@import '~roboto-fontface/css/roboto/roboto-fontface';

@import 'icon-sizes';
@import 'belts';
@import 'buttons';
@import 'badges';
@import 'toolbar';
@import 'card-grid';
@import 'leaderboard';
@import 'skills';

$text-color: #FAFAFA;

body, a, p, h1, h2, h3, h4, .mdc-card__title, .skill-section {
  color: $text-color;
}

// Helper
.center {
  justify-content: center;
  text-align: center;
}

// Layout
.mdc-toolbar__row, .page__content {
  max-width: 1312px;
  padding: 0 16px;
  margin: 0 auto;
}

.page__content {
  margin-top: 82.78px;
}

.logo {
  vertical-align: top;
  height: 3.5rem;
  margin-right: 10px;
}

a, u {
  text-decoration: none !important;
}

.divider__vertical {
  border-left: 1px solid white;
  border-right: 1px solid white;
  position: relative;
  width: 1px;
  min-height: 80%;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.7;
}
