.mdc-toolbar__section a {
  text-decoration: none;
}

.mdc-toolbar__title {
  padding: 8px;
}

.toolbar-nav .mdc-toolbar__section--align-end {
  position: absolute;
  right: 0;
  bottom: -8px;
}

.mdc-tab-bar__indicator{
  background: $text-color;
}

.mdc-ripple-upgraded::before, .mdc-ripple-upgraded::after {
  background-color: hsla(0,0%,100%,.33) !important;
}
