version: "2"
services:
  belt-server:
    build: ./
    container_name: belt-server
    environment:
      - DB_HOST=belt-mongo
      - NODE_ENV=development
    entrypoint:
      - 'npm'
      - 'start'
    ports:
      - "3000:3000"
  belt-mongo:  
    image: mongo
    container_name: belt-mongo
    volumes:
      - ./data/db:/data/db
    ports:
      - "27017:27017"
