extends layout

block content

  div(class='mdc-layout-grid')
    div(class='mdc-layout-grid__inner')

      div(class='center mdc-layout-grid__cell--span-12')
        div(class='card-grid')

          each badge in badges
            div(class=`mdc-card` style='background-color:gray')
              section(class='mdc-card__primary')
                h1(class='mdc-card__title mdc-card__title--large')= badge.title
              section(class='mdc-card__supporting-text')
                span(class='skill-section') Description
                p= badge.description
                ul(class='mdc-list')
                  each skill in badge.requiredSkills
                    li(class='mdc-list-item')= skill.title
