extends layout

block content

  div(class='mdc-layout-grid')
    div(class='mdc-layout-grid__inner')

      div(class='center mdc-layout-grid__cell--span-12')
        div(class='card-grid')

          each team in teams
            a(href=`/teams/${encodeURI(team.name)}`)
              div(data-mdc-auto-init='MDCRipple' class=`mdc-card ${team.belt}-belt`)
                section(class='mdc-card__primary center')
                  h1(class=`mdc-card__title mdc-card__title--large ${team.belt == 'white' ? 'black-belt-text' : 'white-belt-text'}`)= team.name
