extends layout

block content
  section(class='mdc-layout-grid')
      div(class='mdc-layout-grid__inner')
        div(class='center mdc-layout-grid__cell--span-12')
          h1(class='mdc-typography--display3 mdc-theme--accent')= message
          h2(class='mdc-typography--display2 mdc-theme--primary')= error.status
          pre #{error.stack}
