.mdc-card.badge {
  background: $mdc-theme-primary;
}

.mdc-card.badge .mdc-list {
  background: $mdc-theme-primary-dark;
}

.mdc-card.badge .mdc-list:last-child {
  margin-top: 1em;
}

.badge--achieved {
  color: #43A047;
}

.badge--unachieved {
  color: #E53935;

}
