.mdc-toolbar__section a {
  text-decoration: none;
}

.mdc-tab-bar-scroller__indicator {		
  color: rgba(254,254,254,0.75);		
}		
		
.mdc-tab-bar-scroller__indicator:hover {		
  color: rgba(254,254,254,1);		
}